<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/excp.css">
</head>
<body link="white" vlink="white">
    <header>
        <h1>Copias PIT</h1>
    </header>
    <nav>
        <li><a href="/venta">Ventas</a></li>
        <li><a href="/compras">Compras</a></li>
    </nav>
    <section>
        <h1>Centro de copiado PIT</h1>
        <ol type="I">
            <li>Contacto:
                <ul>
                    <li>Whatsapp: 8712667826</li>
                    <li>Email: copias.pit@gmail.com</li>
                </ul>
            </li>
            <li>Dirección:
                <ul>
                    <li>Circ. Hacienda Agostadero #74 Torreón, Coah. C.P. 27054</li>
                </ul>
            </li>
            <li>Servicios:
                <ul>
                    <li>Copiado</li>
                    <li>Impresion</li>
                    <li>Escaneo</li>
                    <li>Engargolado</li>
                </ul>
            </li>
        </ol>
        <img width="500px" height="300px" href="../img/">
    </section>
    <footer>
        <h3>@Derechos Reservados</h3>
    </footer>
</body>
</html>