<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/excp.css">
</head>
<body link="black" vlink="black">
    <header>
        <h1>Copias PIT</h1>
    </header>
    <nav>
        <li><a href="/principal">Principal</a></li>
        <li><a href="/compras">Compras</a></li>
    </nav>
    <article>
        <input type="search" placeholder="Nombre del producto" id="productName">
        <button onclick="products()">Buscar</button>
    </article>
    <aside id="space">
        <!--Introducir busqueda del producto (nombre, precio, existencia e id)-->
    </aside>
    <footer>
        <h3>@Derechos Reservados 2022</h3>
    </footer>
</body>
<script src="static/js/ventas.js"></script>
</html>
