<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/variable.css">
    <title></title>
</head>
<body>
    <header class="header">
        <h1>Copias PIT</h1>
        <nav>
            <ul>
                <a href="/principal"><li>Principal</li></a>
                <a href="/venta"><li>Ventas</li></a>
                <a href="/compras"><li>Compras</li></a>
            </ul>
        </nav>
    </header>
    <div id="modify">
        <div id="info">
            <h2></h2><br>
            <h3 id="id">id: </h3>
            <h3 id="stock">stock: </h3>
            <h3 id="price">precio: </h3>
        </div>
        <div id="options">
            <input type="number" id="number">
            <div id="buttons">
                <button onclick="sell()">Vender</button>
                <button onclick="fill()">Surtir</button>
                <button onclick="change_price()">Cambiar precio</button>
            </div>
            <!--<input type="number" id="price">
            <div id="buttons">
                <button onclick="change_price()">Cambiar precio</button>
            </div>-->
        </div>
    </div>
    <footer>
        <div class="container">
            <h3>&copy; Derechos Reservados</h3>
            <button onclick="log_out()">Log Out</button>
        </div>
        
    </footer>
</body>
<script src="/static/js/variable.js"></script>
<script src="/static/app.js"></script>
</html>