<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <title></title>
</head>
<body>
    <header>
        <h1>Copias PIT</h1>
    </header>
    <nav>
        <li><a href="/venta">Ventas</a></li>
        <li><a href="/compras">Compras</a></li>
    </nav>
    <div id="modify">
        <div id="info">
            <h2></h2><br>
            <h3 id="id">id: </h3>
            <h3 id="stock">stock: </h3>
            <h3 id="price">precio: </h3>
        </div>
        <div id="options">
            <input type="number">
            <button>Vender</button>
            <button>Surtir</button>
        </div>
    </div>
    <footer>
        <h3>@Derechos Reservados</h3>
    </footer>
</body>
<script src="static/js/variable.js"></script>
</html>