*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #242424;
}
footer > .container > button{
    position: absolute;
    bottom: 7vh;
    left: 46vw;
}
@media screen and (max-width: 850px){
    .header{
        width: 100%;
        height: 14vh;
        background: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header > h1{
        margin: 10px 15px;
        color: #121212;
    }
    .header > nav > ul{
        list-style: none;
        display: flex;
    }
    .header > nav > ul > a{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        color: #ccc;
    }
    .info > h1{
        margin-bottom: 30px;
    }
    .info > ol{
        /*margin: 40px 70px;*/
        margin-bottom: 30px;
        margin-left: 70px;
        display: flex;
        flex-direction: column;
    }
    .image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 22px;
    }
    .container{
        width: 100%;
        height: 10vh;
        background: grey;
        position: absolute;
        bottom: 0%;
    }
    .container > h3{
        text-align: center;
        position: relative;
        bottom: -40px;
    }
}

@media screen and (min-width: 851px){
    .header{
        display: flex;
        width: 100vw;
        height: 10vh;
        background: grey;
    }
    .header > h1{
        width: 50vw;
        margin-left: 5vw;
        position: relative;
    }
    .header > nav > ul{
        list-style: none;
        width: 45vw;
        display: flex;
        justify-items: right;
    }
    .header > nav > ul > a{
        width: 18vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    .header > nav > ul > a:hover{
        background: #454545;
    }
    .header > nav > ul > a > li {
        position: relative;
        top: 4vh;
    }
    section{
        width: 100vw;
        height: 80vh;
        display: flex;
    }
    section > .info{
        width: 50vw;
        display: flex;
        flex-direction: column;
        color: #ccc;
        align-items: center;
    }
    section > .info > h1{
        margin-top: 5vh;
        height: 10vh;
        text-align: center;
    }
    section > .info > ol{
        height: 40vh;
        width: 35vw;
        padding-left: 80px;
    }
    section > .image-container{
        width: 50vw;
        display: flex;
        align-items: center;
    }
    section > .image-container > img{
        width: 500px;
        height: 300px;
        position: relative;
        left: 15%;
        top: -10%;
    }
    footer{
        width: 100vw;
        height: 10vh;
        background: grey;
    }
    footer > .container{
        display: flex;
        height: 9vh;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer > .container > h3{
        width: 25vw;
        font-size: 18px;
        text-align: center;
    }
}