:root{
    --color1: #4e4d4a ;
    --color2: #353432 ;
    --color3: #8bc544 ;
    --color4: #2790b0 ;
    --color5: #2b4e72 ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--color5);
}
footer > .container > button{
    position: absolute;
    bottom: 5.5vh;
    left: 48vw;
    border: none;
    background: var(--color4);
    padding: 2.5px;
    border-radius: 2.5px;
}
footer > .container > button:hover{
    background: var(--color5);
}
footer > .container > button:focus{
    background: var(--color5);
    outline: none;
}
b{
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-width: 850px){
    #big{
        display: none;
    }
    .header{
        width: 100%;
        height: 14vh;
        background: var(--color1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header > h1{
        margin: 10px 15px;
        color: #121212;
    }
    .header > nav > ul{
        list-style: none;
        display: flex;
    }
    .header > nav > ul > a{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }
    .info{
        width: 85vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
        color: #ccc;
    }
    .info > h1{
        margin-bottom: 30px;
        margin-left: 60px;
        text-align: center;
    }
    .info > ol{
        /*margin: 40px 70px;*/
        margin-bottom: 30px;
        margin-left: 80px;
        display: flex;
        flex-direction: column;
    }
    .image-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 22px;
    }
    section > .image-container > img{
        display: none;
    }
    .container{
        width: 100%;
        height: 10vh;
        background: var(--color1);
        position: absolute;
        bottom: 0%;
    }
    .container > h3{
        text-align: center;
        position: relative;
        bottom: -40px;
    }
}

@media screen and (min-width: 851px){
    .header{
        display: flex;
        width: 100vw;
        height: 10vh;
        background: var(--color1);
    }
    .header > h1{
        width: 50vw;
        margin-left: 5vw;
        position: relative;
    }
    .header > nav > ul{
        list-style: none;
        width: 45vw;
        display: flex;
        justify-items: right;
    }
    .header > nav > ul > a{
        width: 18vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    .header > nav > ul > a:hover{
        background: var(--color3);
    }
    .header > nav > ul > a:focus{
        background: var(--color3);
        outline: none;
    }
    .header > nav > ul > a > li {
        position: relative;
        top: 4vh;
    }
    #big{
        display: flex;
        align-items: center;
    }
    #big > a{
        margin-left: 1.8vw;
    }
    #big > a > button{
        border: none;
        padding: 3px;
        border-radius: 3px;
        background: var(--color4);
        transition: all 0.75s;
    }
    #big > a > button:hover{
        transform: scale(1.175);
        transition: all 0.75s;
    }
    #big > a > button:focus{
        transform: scale(1.175);
        transition: all 0.75s;
    }
    section{
        width: 100vw;
        height: 80vh;
        display: flex;
    }
    section > .info{
        width: 50vw;
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
    }
    section > .info > h1{
        margin-top: 5vh;
        height: 10vh;
        text-align: center;
    }
    section > .info > ol{
        height: 40vh;
        width: 35vw;
        padding-left: 80px;
    }
    section > .image-container{
        width: 50vw;
        display: flex;
        align-items: center;
    }
    section > .image-container > img{
        /*width: 500px;
        height: 300px;*/
        transform: scale(0.6);
        position: relative;
        left: -35%;
        /*top: -5%;*/
    }
    footer{
        width: 100vw;
        height: 10vh;
        background: var(--color1);
    }
    footer > .container{
        display: flex;
        height: 9vh;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer > .container > h3{
        width: 25vw;
        font-size: 18px;
        text-align: center;
    }
}