*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #242424;
}
footer > .container > button{
    position: absolute;
    bottom: 7vh;
    left: 46vw;
}
/**/
@media screen and (max-width:850px){
    .header{
        width: 100%;
        height: 14vh;
        background: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header > h1{
        margin: 10px 15px;
        color: #121212;
    }
    .header > nav > ul{
        list-style: none;
        display: flex;
    }
    .header > nav > ul > a{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }
    .center{
        height: 76vh;
    }
    .center > aside{
        border: 1px solid black;
        height: 60vh;
        width: 90vw;
        position: relative;
        left: 5vw;
        top: 8vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .center > aside > tr > th, td{
        width: 90vw;
        color: white;
        border: 1px solid black;
    }
    .center > aside > tr > td > a{
        width: 100%;
        color: white;
        text-decoration: none;
    }
    .container{
        width: 100%;
        height: 10vh;
        background: grey;
        position: absolute;
        bottom: 0%;
    }
    .container > h3{
        text-align: center;
        position: relative;
        bottom: -40px;
    }
}
@media screen and (min-width:851px){
    .header{
        display: flex;
        width: 100vw;
        height: 10vh;
        background: grey;
    }
    .header > h1{
        width: 50vw;
        margin-left: 5vw;
        position: relative;
    }
    .header > nav > ul{
        list-style: none;
        width: 45vw;
        display: flex;
        justify-items: right;
    }
    .header > nav > ul > a{
        width: 18vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    .header > nav > ul > a:hover{
        background: #454545;
    }
    .header > nav > ul > a > li {
        position: relative;
        top: 4vh;
        color: white;
    }
    .center{
        height: 80vh;
        width: 100vw;
    }
    .center > aside{
        height: 60vh;
        width: 80vw;
        border: 1px solid black;
        position: relative;
        left: 10vw;
        top: 10vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .center > aside > tr > th, td{
        width: 19.75vw;
        border: 1px solid black;
        background: #343434;
        color: white;
    }
    .center > aside > tr > td{
        background: #444;
    }
    .center > aside > tr:hover > td{
        transform: scale(1.2);
        background: #747474;
    }
    .center > aside > tr > td > a{
        color: white;
        text-decoration: none;
    }
    footer{
        width: 100vw;
        height: 10vh;
        background: grey;
    }
    footer > .container{
        display: flex;
        height: 9vh;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer > .container > h3{
        width: 25vw;
        font-size: 18px;
        text-align: center;
    }
}