:root{
    --color1: #4e4d4a ;
    --color2: #353432 ;
    --color3: #8bc544 ;
    --color4: #2790b0 ;
    --color5: #2b4e72 ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--color5);
}
footer > .container > button{
    position: absolute;
    bottom: 5.5vh;
    left: 48vw;
    border: none;
    background: var(--color4);
    padding: 2.5px;
    border-radius: 2.5px;
    transition: all 0.5s;
}
footer > .container > button:hover{
    background: var(--color5);
    transform: scale(1.1);
    transition: all 0.5s;
}
footer > .container > button:focus{
    background: var(--color5);
    outline: none;
    transform: scale(1.1);
    transition: all 0.5s;
}
@media screen and (max-width: 850px){
    .header{
        width: 100%;
        height: 14vh;
        background: var(--color1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header > h1{
        margin: 10px 15px;
        color: #121212;
    }
    .header > nav > ul{
        list-style: none;
        display: flex;
    }
    .header > nav > ul > a{
        padding: 10px 20px;
        text-decoration: none;
        color: white;
    }
    section{
        width: 100vw;
        height: 76vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section > article{
        margin-top: 4vh;
        display: flex;
        flex-direction: column;
    }
    section > article > input{
        width: 50vw;
        background: var(--color4);
        border-radius: 15px;
        text-align: center;
        border: none;
        padding: 1.5px;
    }
    section > article > input:focus{
        outline: none;
    }
    section > article > input::placeholder{
        transition: all 1s;
        color: #454545;
    }
    section > article > input:focus::placeholder{
        color: transparent;
        transition: all 1s;
    }
    section > article > button{
        width: 30vw;
        margin-top: 2vh;
        margin-left: 10vw;
        background: var(--color3);
        border-radius: 10px;
        border: none;
        padding: 1.5px;
        transition: all 0.5s;
    }
    section > article > button:focus{
        outline: none;
        transform: scale(1.1);
        transition: all 0.5s;
    }
    section > .aside{
        margin-top: 6vh;
        height: 40vh;
        border: 1px solid black;
        overflow: scroll;
        scroll-behavior: auto;
        color: white;
    }
    section > .aside > aside > tr > th{
        border: 1px solid black;
    }
    section > .aside > aside > tr > td{
        padding: 10px;
        border: 1px solid black;
    }
    section > .aside > aside > tr > td > a{
        color: white;
        text-decoration: none;
    }
    .container{
        width: 100%;
        height: 10vh;
        background: var(--color1);
        position: absolute;
        bottom: 0%;
    }
    .container > h3{
        text-align: center;
        position: relative;
        bottom: -40px;
    }
}

@media screen and (min-width:851px){    
    .header{
        display: flex;
        width: 100vw;
        height: 10vh;
        background: var(--color1);
    }
    .header > h1{
        width: 50vw;
        margin-left: 5vw;
        position: relative;
    }
    .header > nav > ul{
        list-style: none;
        width: 45vw;
        display: flex;
        justify-items: right;
    }
    .header > nav > ul > a{
        width: 18vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    .header > nav > ul > a:hover{
        background: var(--color3);
    }
    .header > nav > ul > a:focus{
        outline: none;
        background: var(--color3);
    }
    .header > nav > ul > a > li {
        position: relative;
        top: 4vh;
        color: white;
    }
    section{
        height: 80vh;
    }
    section > article{
        height: 20vh;
        display: flex;
        align-items: center;
    }
    section > article > input{
        width: 15vw;
        height: 2.5vh;
        text-align: center;
        margin-left: 4vw;
        margin-right: 2vw;
        border-radius: 10px;
        border: none;
        background: var(--color4);
        padding: 2.5px;
    }
    section > article > input::placeholder{
        color: #454545;
        transition: all 0.5s;
    }
    section > article > input:focus{
        outline: none;
    }
    section > article > input:focus::placeholder{
        color: transparent;
        transition: all 0.5s;
    }
    section > article > button{
        width: 5vw;
        height: 2.5vh;
        background: var(--color3);
        border-radius: 8px;
        cursor: pointer;
        padding: 2.5px;
        border: none;
    }
    section > article > button:focus{
        transform: scale(1.1);
        transition: all 0.5s;
    }
    section > article > button:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
    section > .aside{
        width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section > .aside > aside{
        height: 50vh;
        width: 81vw;
        overflow-y: scroll;
        scroll-behavior: smooth;
        overflow-x: hidden;
        border: 1px solid black;
    }
    section > .aside > aside > tr > th{
        width: 20vw;
        border: 1px solid black;
        background: #343434;
        color: white;
    }
    section > .aside > aside > tr > td{
        width: 20vw;
        background: #444;
        border: 1px solid black;
        color: white;
    }
    #box{width: 100%}
    section > .aside > aside > tr > td > a{
        color: white;
        text-decoration: none;
    }
    section > .aside > aside > tr:hover td{
        background: #747474;
        transform: scale(1.2);
    }
    footer{
        width: 100vw;
        height: 10vh;
        background: var(--color1);
    }
    footer > .container{
        display: flex;
        height: 9vh;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer > .container > h3{
        width: 25vw;
        font-size: 18px;
        text-align: center;
    }
}